html
  head
    title ethereum-candy-machine
    //- metadata
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- styles
    link(rel="stylesheet", href="/styles/normalize.css")
    link(rel="stylesheet", href="/styles/index.css")
    //- assets
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png")
    link(rel="manifest" href="/assets/site.webmanifest")
    //- scripts
    script(src="/scripts/web3.js" type="module") 
  body
    div.container
      h1 Candy machine 🍭
      h2 Smart contract, written with Solidity
      main.flex
        img(src="https://via.placeholder.com/300/300")
        div.detail
          div.title ADDRESS
          div= address
          div.title PRICE
          div= price
          div.title AVAILABLE
          div= available
          div.title REDEEMED
          div= {redeemed}
          div.title REMAINING
          div= {available - redeemed}
          a(href="/mint")
            button#mint Mint